.tabs {
    margin-top: 20px;
}

.tab-titles {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.tab-title {
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.tab-title.active {
    font-weight: bold;
    border-bottom: 2px solid #3498db;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.stars {
    display: inline-block;
}

.star {
    font-size: 30px;
    /* 星のサイズ */
    color: gray;
    /* グレーの色 */
    transition: color 0.2s;
    /* ホバー時の色変更を滑らかに */
}

.star.filled {
    color: #4169e1;
    /* 塗りつぶされた星の色（青） */
}

.star.unfilled {
    color: lightgray;
    /* 塗りつぶされていない星の色（薄い灰色） */
}

.images-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    /* 画像間のスペース */
    justify-content: flex-start;
}

.image__item {
    flex: 1 1 calc(20% - 10px);
    /* 横に5つ表示 */
    max-width: calc(20% - 10px);
    box-sizing: border-box;
    margin: 3px;
}

.image__item img {
    width: 100%;
    height: 200px;;
    display: block;
    object-fit: cover;
    /* 画像の切り抜き */
}

.delete__link-button {
    border: none;
    background-color: white;
    text-decoration: underline;
}

.delete__link-button:hover {
    color: blue;
}

.review {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .star {
        font-size: 14px;
    }

    .comment {
        display: inline-block;
        font-size: 14px;
    }

    .image__item {
        flex: 1 1 calc(33.3% - 10px);
        max-width: calc(33.3% - 10px);
    }

    .image__item img {
        height: auto;
    }

    .message {
        font-size: 14px;
    }
}