.title {
    margin-left: 20px;
}

.form-group {
    margin-left: 20px;
}

.label {
    padding-right: 10px;
}

.submit__button {
    margin-left: 20px;
    margin-top: 10px;
}

.image__upload {
    margin-left: 20px;
}

.image__upload-form {
    margin-left: 20px;
}

.upload__button {
    display: block;
    margin-top: 5px;
    margin-bottom: 50px;
}

.error__message {
    color: red;
}

@media (max-width: 768px) {
    .error__message {
        font-size:10px;
    }
}