.search__form {
    display: flex;
}

.area {
    border: none;
}

.sort__type {
    border: none;
}

.genre {
    border: none;
}

.search__button {
    border: none;
    background-color: white;
}

.search__text {
    border: none;
}

.search__area {
    margin-right: 0px;
    border: 1px, solid, #c0c0c0;
    width: 30%;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px #a9a9a9;
}

.sort__area {
    border: 1px, solid, #c0c0c0;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px #a9a9a9;
    margin-right: 20px;
}

.search__form {
    display: inline-block;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card__content-tag-item {
    display: inline-block;
    font-size: 15px;
}

.detail {
    display: flex;
    margin-left: 25px;
    margin-bottom: 15px;
}

.detail__button {
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 3px;
}

.card {
    border: 1px, solid, #c0c0c0;
    box-shadow: 2px 2px #808080;
    border-radius: 5px;
    max-width: 22%;
    flex: 1 0 22%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    margin: 50px auto;
    box-sizing: border-box;
}

.card__content-ttl {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 1px;
}

.card__content-tag {
    margin-left: 25px;
    margin-bottom: 10px;
}

.favorite__button {
    border: none;
    margin-left: 100px;
    background-color: white;
}

.custom {
    display: flex;
    justify-content: flex-end;
}

.csv__import-button {
    border: none;
    background-color: white;
    border: 1px, solid, #c0c0c0;
    width: 100%;
    border-radius: 3px;
    height: 30px;
    box-shadow: 2px 2px #a9a9a9;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .custom {
        flex-direction: column;
    }

    .search__area {
        width: 95%;
        border-radius: 3px;
        height: 30px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .sort__type {
        font-size: 10px;
    }

    .area {
        font-size: 10px;
    }

    .genre {
        font-size: 10px;
    }

    .search__text {
        font-size: 10px;
    }

    .search__button {
        font-size: 10px;
    }

    .sort__area {
        width: 25%;
        margin-left: 5px;
    }

    .card {
        max-width: 30%;
        flex: 1 0 30%;
    }

    .card__content-ttl {
        font-size: 15px;
        margin-left: 10px;
    }

    .card__content-tag {
        font-size: 8px;
        margin-left: 10px;
    }

    .favorite__button {
        margin-left: 15px;
    }

    .detail {
        margin-left: 5px;
        margin-bottom: 10px;
        justify-content: space-between;
    }

    .card__content-tag-item {
        font-size: 8px;
    }

    .detail__button {
        font-size: 8px;
        height: 15px;
    }

    .csv__import-button {
        width: 30%;
        font-size: 10px;
        margin-top: 10px;
    }

    .img {
        height: 100px;
    }
}