.main {
    display: flex;
    width: 100%;
}

.left {
    width: 40%;
    margin-left: 10%;
    position: relative;
}

.left::after {
    position: absolute;
    top: 27%;
    left: 78%;
    margin: 0 1rem;
    content: "";
    width: 1px;
    height: 50%;
    background-color: gray;
}

.right {
    width: 60%;
}

.card {
    border: 1px, solid, #c0c0c0;
    box-shadow: 2px 2px #808080;
    border-radius: 5px;
    width: 65%;
    margin-right: 10px;
    margin-bottom: 20px;
}

.img {
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}

.card__content-tag-item {
    display: inline-block;
    font-size: 15px;
}

.detail {
    display: flex;
    margin-left: 25px;
    margin-bottom: 15px;
}

.detail__button {
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 3px;
}

.card__content-ttl {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 1px;
}

.card__content-tag {
    margin-left: 25px;
    margin-bottom: 10px;
}

.top__message {
    margin-top: 50px;
    width: 65%;
}

.top__message-content {
    font-size: 35px;
}

.stars span {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.stars input[type='radio'] {
    display: none;
}

.stars label {
    color: #D2D2D2;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
}

.stars label:hover,
.stars label:hover~label,
.stars input[type='radio']:checked~label {
    color: #4169e1;
}

.rate__message {
    font-size: 20px;
}

.comment {
    margin-top: 20px;
}

.comment__title {
    margin-bottom: 10px;
    font-size: 20px;
}

.count {
    text-align: right;
    margin-right: 12%;
}

.image__title {
    margin-top: 20px;
    font-size: 20px;
}

.upload__button {
    position: relative;
    width: 550px;
    height: 300px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.file__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upload__button.dragover {
    background-color: #f0f8ff;
    border-color: #3399ff;
}

#preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    display: none;
}

/* #preview img.uploaded__image {
    width: 50%;
    height: 50%;
    object-fit: cover;
} */

.uploaded__image {
    width: 60%;
    height: 70%;
    object-fit: cover;
}

.upload__button .upload__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    z-index: 1;
}

.upload__button.image-uploaded .upload__text {
    display: none;
}

.submit__button {
    width: 30%;
    background-color: #4169e1;
    color: white;
    border: none;
    border-radius: 50px;
    height: 50px;
    display: block;
}

.button {
    margin-top: 25px;
    text-align: left;
}

.error__message {
    color: red;
    list-style-type: none;
}